<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>
<br>
<form action="/bookmarks" method='POST'>
  <label for="url">URL</label>
  <input type="text" name="url">
  <input type="submit" value="Submit">
</form>
